.dropdownOutline{
  box-shadow: 2px 4px 10px gray;
  width: 102%;
  font-size: medium;
  max-height: 300px;
  overflow-y: auto;
}

.cityDom{
  text-align: left;
  font-size: medium;
  padding: 4px 0px;
  padding-left: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.cityDom:hover{
  background-color: #007BFF;
  color: #FFF;
}